* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

div#form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    margin-inline: auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: lightgray;
}

button, input, textarea {
    border-radius: .5rem;
}

#messages {
    width: 50%;
    margin-inline: auto;
}

.message {
    border: 1px solid black;
    margin-top: 1rem;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    border-radius: .5rem;
}

.message div {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.message button {
    background-color: red;
    color: white;
    padding: .5rem;
}

.formTitle {
    margin-bottom: 0;
}